<rx-modal-dialog *ngIf="opened">
  <div class="confirm-modal-container confirmation-modal">
    <div class="rx-modal-dialog-header">
      <img class="close" src="/assets/images/close-modal-ico.svg" (click)="cancel()" />
    </div>
    <div class="body">
      <div *ngIf="text; else link" class="list-wrapper">
        <p>{{ text }}</p>
      </div>
      <ng-template #link>
        <p>
          Are you sure you want to follow the <span style="color: #838687">{{ markupLink() }}</span> link?
        </p>
      </ng-template>
    </div>
    <div class="footer">
      <button class="btn btn-light" (click)="cancel()">CANCEL</button>
      <button class="btn btn-primary" (click)="confirm(action)">{{ action }}</button>
    </div>
  </div>
</rx-modal-dialog>
