@import "../../../../assets/scss/config.scss";

.rx-measure-panel-container {
  position: fixed;
  top: 0;
  right: 54px;
  min-width: 250px;
  height: min-content;
  box-shadow: 0px 0px 7px 2px #48484814;

  .panel-header {
    display: flex;
    gap: 8px;
    padding: 10px 14px;
    background-color: $main;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: 600;

    .title {
      flex-grow: 1;
    }

    .btn-close {
      scale: 1.5;
      font-weight: normal;
      cursor: pointer;
    }
  }

  .panel-body {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 200px;
    padding: 0 15px 15px;
    font-size: 12px;
    line-height: 16px;
    width: 380px;
    overflow-y: visible !important;

    .current-scale {
      padding-top: 10px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .scale-value {
        display: flex;
        align-items: center;
        padding-left: 5px;
        padding-right: 20px;
        input {
          padding: 10px 10px 10px 9px;
          border: 1px solid #edf1f2;
          border-radius: 4px;
          min-width: 100%;
          background: #f5f5f5;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .scale-list {
      padding-top: 10px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .unscaled {
        border: 1px solid #a4abae;
        border-radius: 4px;
        padding: 6px 10px 6px 10px;
        display: flex;
        align-items: center;
        width: 250px;
        margin-left: 20px;
      }

      .scale-dropdown-section {
        width: 250px;
        padding-left: 20px;
        padding-right: 10px;
      }
    }

    .scale-settings {
      padding-top: 15px;

      &__title {
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        margin-bottom: 5px;
      }

      &__description {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.54);
        display: block;
        margin-bottom: 10px;
      }

      &__input {
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        div {
          padding-left: 10px;

          &:first-child {
            padding-left: 0;
          }
        }

        input {
          background-color: rgba(0, 0, 0, 0.02);
          padding: 5px;
          border: 1px solid #edf1f2;
          border-radius: 30px;
          width: 50px;
          text-align: center;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-color: var(--accent);

          &:focus {
            // border: 1px solid #a4abae;
            outline: none;
          }
        }

        &-container {
          display: flex;
          align-items: center;

          .scale-settings__input-unit {
            width: 25px;
            background-color: rgba(0, 0, 0, 0.02);
            padding: 4.7px;
            text-align: center;
            font-size: 11px;
            border: 1px solid #edf1f2;
            border-left: none;
            border-radius: 30px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-color: var(--accent);
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }

      &__precision {
        // display: flex;
        // align-items: center;
        // padding-bottom: 15px;

        .scale-settings__precision-buttons {
          display: block;

          button {
            min-width: 100px;
          }
        }
      }

      &__presets {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        .preset-label {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
          display: flex;
          margin-right: 20px;
        }
        .preset-button {
          transition: all 0.2s ease;
          cursor: pointer;
          margin-right: 10px;
          background-color: transparent;
          border: none;
          border-radius: 4px;
          border-bottom: 1px solid var(--accent);
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          padding: 2px;
          width: auto;
          height: 10px;
          min-height: 22px;
          min-width: 35px;
          font-size: 11px;
          transition: all 0.2s ease;
          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }

      &__radio-group {
        width: 100px;
        padding-bottom: 15px;
      }

      &__calibrate-switch {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        .scale-settings__title {
          margin-right: 15px;
        }
      }
      &__calibrate {
        font-size: 12px;
        padding-bottom: 15px;
        .settings {
          .checkbox-calibrate {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .cell {
              button {
                display: flex;
                align-items: center;

                span {
                  padding-left: 5px;
                  color: #000;
                  font-weight: normal;
                  font-size: 12px;
                }
              }
            }
          }

          .txtCalibrateLength {
            input {
              padding: 10px 10px 10px 9px;
              border: 1px solid #edf1f2;
              border-radius: 4px;
              width: 80px;
              &:focus {
                border: 1px solid #a4abae;
                outline: none;
              }
            }
          }
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4px;
      padding: 20px 10px;
      align-items: center;

      .header {
        color: #a4abae;
        font-size: 14px;
      }

      .cell {
        border: 1px solid #edf1f2;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-weight: 400;
        padding: 6px 8px;
        box-sizing: border-box;

        &.color-main {
          color: $main;
        }

        &.color-secondary {
          color: #a4abae;
        }
      }

      rx-dropdown {
        ::ng-deep {
          .dropdown-container {
            .value {
              font-size: 12px;
            }
            .options-container {
              .options-wrapper {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .input-calibrate-length-section {
      grid-template-columns: 120px 1fr 1fr;
      align-items: center;
      padding-bottom: 0;
      padding-top: 5px;
    }

    .calibrate-scale-data {
      padding-right: 20px;
      input {
        padding: 10px 10px 10px 9px;
        border: 1px solid #edf1f2;
        border-radius: 4px;
        width: 100%;
        background: #f5f5f5;

        &:focus {
          border: 1px solid #a4abae;
          outline: none;
        }
      }
    }

    .precision-section {
      grid-template-columns: 120px 1fr 1fr;
      align-items: center;
    }
  }

  .panel-footer {
    padding: 15px;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -1px;
  }

  .snap-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;

    span {
      color: #a4abae;
      flex-grow: 1;
    }

    &::before {
      content: "";
      display: block;
      width: calc(100% + 24px);
      border-top: 1px solid #edf1f2;
      position: absolute;
      left: -12px;
      top: 0;
    }
  }

  .slider-container {
    display: flex;
    align-items: center;
    gap: 12px;

    .slider {
      flex-grow: 1;
    }

    .value {
      border-radius: 4px;
      border: 1px solid #edf1f2;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: $main;
      max-width: 36px;
      min-width: 36px;
      text-align: center;
    }
  }
}

::ng-deep #toast-container > div {
  width: 500px;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 1.8;
}

.measure-panel__row {
  display: flex;
  align-items: center;
  font-size: 12px;
  &--composed {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #ddd;
  }
}

.measure-panel-button {
  min-width: 60px;
  min-height: 36px;
  padding: 0 20px;
  font-weight: 500;
  border-color: transparent;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;

  &__cancel {
    color: rgba(0, 0, 0, 0.54);
    background: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
    }

    &:active {
      background: rgba(0, 0, 0, 0.12);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--accent) inset,
        0 0 0 4px rgba(255, 255, 255, 0.6) inset;
    }
  }

  &__create {
    margin-left: 8px;
    color: #fff;
    background: var(--accent);
    &:hover {
      background: #50ac6a;
    }

    &:active {
      background: #50ac6a;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--accent) inset,
        0 0 0 4px rgba(255, 255, 255, 0.6) inset;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.scale-settings__rounded-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.scale-settings__rounded-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;

  .scale-settings__rounded-button {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
      border: 1px solid var(--accent);
    }

    &:active {
      border: 1px solid var(--accent);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px var(--accent) inset,
        0 0 0 2px rgba(255, 255, 255, 0.6) inset;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .scale-settings__rounded-button-unit {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.scale-settings__calibrate-inputs {
  display: flex;
  align-items: center;
  .scale-settings__calibrate-input-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .scale-settings__calibrate-input-label {
      font-size: 11px;
      color: rgba(0, 0, 0, 0.54);
      display: block;
    }
    .scale-settings__input-unit {
      display: flex;
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 4px 8px;
      border-left: none;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .scale-settings__calibrate-input {
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      padding: 5px;
      width: 60px;
      font-size: 12px;
      text-align: center;
      margin-left: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.selected {
  border: 1px solid var(--accent) !important;
}
