<div *ngIf="visible && isActivefile" class="rx-measure-panel-container"
    [ngDraggable]="draggable"
    [bounds]="bounds"
    [inBounds]="false"
    [handle]="panelHeader"
    class="rx-measure-panel-container panel-container">
    <div #panelHeader class="panel-header">
        <span class="title">Scale settings</span>
        <span class="btn-close" (click)="onCloseClick()">&times;</span>
    </div>
    <div class="panel-body" [ngStyle]="{'max-height.px': maxHeight, 'overflow-y': 'auto'}">
        <div class="scale-settings">         
            <rx-accordion 
                [expandedIndex]="expandedIndex" 
                (expandedIndexChange)="onExpandedIndexChange($event)"
                [collapsing]="true" 
                [expandAll]="false">
                <rx-accordion-item [title]="'Display Units'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Any units displayed or entered on canvas will be converted to this system</span>

                        <div class="scale-settings__radio-group">
                            <rx-radio-button 
                                [options]="metricSystemOptions" 
                                class="radio-group" 
                                [selectedValue]="selectedMetricType"
                                (selectionChange)="onRadioSelectionChange($event)">
                            </rx-radio-button>
                        </div>
             
                        <ng-container *ngIf="selectedMetricType === MetricUnitType.METRIC">
                            <div class="scale-settings__rounded-button-wrapper">
                                <ng-container *ngFor="let unit of metricUnitsOptions">
                                    <div class="scale-settings__rounded-button-container">
                                        <button [class.selected]="selectedMetricUnit.value === unit.value" class="scale-settings__rounded-button" (click)="selectMetricUnit(unit, MetricUnitType.METRIC)">
                                            {{unit.shortLabel}}
                                        </button>
                                        <span class="scale-settings__rounded-button-unit"> {{unit.label}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
            
                        <ng-container *ngIf="selectedMetricType === MetricUnitType.IMPERIAL">
                            <div class="scale-settings__rounded-button-wrapper">
                                <ng-container *ngFor="let unit of imperialUnitsOptions">
                                    <div class="scale-settings__rounded-button-container">
                                        <button [class.selected]="selectedMetricUnit.value === unit.value" class="scale-settings__rounded-button" (click)="selectMetricUnit(unit, MetricUnitType.IMPERIAL)">
                                            {{unit.shortLabel}}
                                        </button>
                                        <span class="scale-settings__rounded-button-unit"> {{unit.label}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
            
                    </ng-template>
                </rx-accordion-item>

                <rx-accordion-item [title]="'Measurement Scale'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Define how objects on screen compare to real world measurements.</span>

                        <div class="scale-settings__input">                
                            <div class="scale-settings__input-container">
                                <input type="text" min="0" [(ngModel)]="customPageScaleValue" />
                                <span class="scale-settings__input-unit">{{selectedMetricUnit.shortLabel}}</span>
                            </div>
                            <div> : </div>
                            <div class="scale-settings__input-container">
                                <input type="text" min="0" [(ngModel)]="customDisplayScaleValue" />
                                <span class="scale-settings__input-unit">{{selectedMetricUnit.shortLabel}}</span>
                            </div>
                        </div>

                        <div class="scale-settings__presets">
                            <span class="preset-label">Presets: </span>
                            <div>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[0])">1:1</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[1])">1:10</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[2])">1:100</button>
                                <button class="preset-button" (click)="onPresetChanged(presetOptions[3])">1:1000</button>
                            </div>
                            <rx-dropdown
                                [options]="presetOptions"
                                type="three-dots"
                                (valueChange)="onPresetChanged($event)"
                            >
                            </rx-dropdown>
                        </div>
                    </ng-template>
                </rx-accordion-item>

                <rx-accordion-item [title]="'Calibrate'">
                    <ng-template accordionContent>
                        <!-- <div class="scale-settings__calibrate-switch">
                            <span class="scale-settings__title">Start Calibrate</span>
                            <rx-switch 
                                [checked]="isSelectedCalibrate" 
                                (change)="onCalibrateCheckedChange($event)">
                            </rx-switch>
                        </div> -->
                        <!-- *ngIf="isSelectedCalibrate" -->
                        <div class="scale-settings__calibrate">    
                            <span class="scale-settings__description">
                                Please, measure the distance on the page and adjust the calibration length on demand using the text field provided.
                            </span>                    
                            <div class="scale-settings__calibrate-inputs">                
                                <div class="scale-settings__calibrate-input-container">
                                    <span class="scale-settings__calibrate-input-label">Measured</span>
                                    <input class="scale-settings__calibrate-input" type="text" min="0" [(ngModel)]="measuredCalibrateLength" readonly/>
                                </div>
                                <div class="scale-settings__calibrate-input-container">
                                    <span class="scale-settings__calibrate-input-label">Adjusted</span>
                                    <input class="scale-settings__calibrate-input" type="text" min="0" [(ngModel)]="calibrateLength" />
                                    <span class="scale-settings__input-unit">{{selectedMetricUnit.shortLabel}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </rx-accordion-item>

                <rx-accordion-item [title]="'Precision'">
                    <ng-template accordionContent>
                        <span class="scale-settings__description">Select the precision of the measurement</span>
           
                        <div class="scale-settings__precision">
                            <div class="scale-settings__rounded-button-wrapper">
                                <ng-container *ngFor="let precision of precisionOptions">
                                    <div class="scale-settings__rounded-button-container">
                                        <button [class.selected]="selectedScalePrecision.value === precision.value" class="scale-settings__rounded-button"  (click)="onScalePrecisionChanged(precision)" >
                                            {{precision.shortLabel}}
                                        </button>
                                        <span class="scale-settings__rounded-button-unit"> {{precision.label}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </ng-template>
                </rx-accordion-item>
            </rx-accordion>
        </div>
    </div>

    <div class="panel-footer">
        <button (click)="onCloseClick()" class="measure-panel-button measure-panel-button__cancel">Cancel</button>
        <button (click)="addNewScale()" class="measure-panel-button measure-panel-button__create">Add New Scale</button>
    </div>
    
    <rx-accordion [collapsing]="false" [expandAll]="true" style="display: none;">
        <rx-accordion-item *ngIf="type == MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Measure type'">
            <ng-template accordionContent>
                <div class="btn-group" role="group">
                    <button [class.selected]="lengthMeasureType == 0" (click)="onLengthMeasureTypeChange(0)">
                        <img src="/assets/images/measure-length-no-arrow-ico.svg" />
                        <span>No arrow</span>
                    </button>
                    <button [class.selected]="lengthMeasureType == 1" (click)="onLengthMeasureTypeChange(1)">
                        <img src="/assets/images/measure-length-ico.svg" />
                        <span>Open Arrow</span>
                    </button>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item [title]="'Colors'">
            <ng-template accordionContent>
                <rx-color-picker
                    [value]="color"
                    (valueChange)="onColorSelect($event)">
                </rx-color-picker>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Thickness'">
            <ng-template accordionContent>
                <div class="slider-container">
                    <ngx-slider
                        class="slider"
                        [(value)]="strokeThickness"
                        [options]="{floor: 1, ceil: 12, hideLimitLabels: true, hidePointerLabels: true, showSelectionBar: true }"
                        (userChange)="onStrokeThicknessChange()">
                    </ngx-slider>
                    <span class="value">{{strokeThickness}}pt</span>
                </div>
            </ng-template>
        </rx-accordion-item>
        <rx-accordion-item *ngIf="type != MARKUP_TYPES.MEASURE.LENGTH.type" [title]="'Style'">
            <ng-template accordionContent>
                <div style="margin-bottom: 22px;">
                    <rx-line-style-select
                        [value]="strokeLineStyle"
                        (valueChange)="onStrokeLineStyleSelect($event)">
                    </rx-line-style-select>
                </div>
            </ng-template>
        </rx-accordion-item>
    </rx-accordion>

    <div class="snap-section" style="display: none;">
        <span>Snap</span>
        <rx-switch
            [checked]="snap"
            (change)="onSnapChange($event)">
        </rx-switch>
    </div>
</div>