<rx-panel *ngIf="canCollaborate && visible" style="z-index: 9" class="room-panel" [title]="'Room'" [maxHeight]="312" (onClose)="onClose()">
  <div class="room-panel-container">
    <div class="header-section">
      <span *ngIf="!user">Please login first!</span>
      <button *ngIf="user" title="Refresh room list" (click)="updateRoomList()">
        <img src="/assets/images/refresh.svg" alt="" srcset="" />
      </button>
      <button *ngIf="user" title="Create room" (click)="createRoom()">
        <img src="/assets/images/tree-unfold.svg" alt="" srcset="" />
      </button>
      <button *ngIf="user && isAdmin()" title="Print all existing rooms to console" (click)="getAllRooms()">
        <img src="/assets/images/info-ico.svg" alt="" srcset="" />
      </button>
    </div>
    <div class="main-section">
      <ul *ngIf="user" class="list">
        <li *ngFor="let room of roomInfoArray" [class]="{ active: isActiveRoom(room.roomId) }">
          <span title="{{ getDisplayRoomId(room.roomId) }}">{{
            getDisplayRoomId(room.roomId) + (isActiveRoom(room.roomId) ? " (Active)" : "")
          }}</span>
          <div class="button-group">
            <button *ngIf="user && !isActiveRoom(room.roomId)" class="btn" title="Join room" (click)="joinRoom(room.roomId)">
              <img src="/assets/images/join-room.svg" alt="Join" srcset="" />
            </button>
            <button *ngIf="user && isActiveRoom(room.roomId)" class="btn" title="Leave room" (click)="leaveRoom()">
              <img src="/assets/images/leave-room.svg" alt="Leave" srcset="" />
            </button>
            <button
              *ngIf="user && isAdmin() && hasMarkupForRoom(room.roomId)"
              class="btn"
              title="Delete markups for room"
              (click)="deleteMarkupsForRoom(room.roomId)"
            >
              <img src="/assets/images/clean-room.svg" alt="Clear" srcset="" />
            </button>
            <button *ngIf="user && isAdmin() && !isDefaultRoom(room.roomId)" class="btn" title="Delete room" (click)="deleteRoom(room.roomId)">
              <img src="/assets/images/trash-ico.svg" alt="Delete" srcset="" />
            </button>
          </div>
        </li>
      </ul>
      <div *ngIf="user">
        <p>
          <span title="{{ activeRoomId ? getDisplayRoomId(activeRoomId) : 'Need to join a room to see participants' }}">
            Participants ({{ participants.length }})
          </span>
        </p>
        <ul class="list">
          <li *ngFor="let participant of participants">
            <span title="{{ participant.username }} ({{ participant.socketId }})">{{ participant.displayName }}</span>
            <span *ngIf="socketId && participant.socketId == socketId"> (You)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</rx-panel>
