<ng-container>
  <div *ngIf="visible" class="login-overlay">
    <div class="login-modal">
      <div *ngIf="!isLoggingIn" class="title">Login</div>
      <div *ngIf="isLoggingIn" class="title">Logging in...</div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input *ngIf="!useBuildinUser" type="text" id="username" placeholder="enter username" [(ngModel)]="loginUsername" />
        <select *ngIf="useBuildinUser" id="username" name="username" [(ngModel)]="selectedBuildinUsername" (change)="onBuildinUsernameChange()">
          <option value="">Type a username</option>
          <option value="bob">bob</option>
          <option value="archi">archi</option>
          <option value="owen">owen</option>
        </select>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginPassword" />
      </div>

      <div class="buttons">
        <button [disabled]="!loginUsername || !loginPassword || isLoggingIn" (click)="onLogin()">Login</button>
        <button [disabled]="forceToLogInDisableCancel" (click)="close()">Cancel</button>
      </div>

      <div *ngIf="isLoginFailed" class="status error">Login failed. Please try again.</div>
    </div>
  </div>
</ng-container>
