<div class="dropdown-container">
  <div
     *ngIf="options.length > 0"
      class="dropdown-wrapper"
      [class.focused]="opened || value"
      [class.opened]="opened"
      [class.transparent]="true"
      (click)="handleDropdown()">
          <span *ngIf="value; else placeholderTemplate" class="value" [innerHTML]="(value || {})[displayField]"></span>
          <ng-template #placeholderTemplate><span class="value placeholder">{{placeholder}}</span></ng-template>
          <img src="/assets/images/arrow-down.svg" class="btn-dropdown" />
  </div>
  <div *ngIf="opened" class="options-container">
      <div class="options-wrapper" [ngClass]="{'add-options-wrapper': showAddNew}">
              <div class="options" role="listbox" aria-expanded="false">
                  <div
                      *ngFor="let item of options"
                      role="option"
                      tabindex="0"
                      class="option"
                      [class.hidden]="item.hidden"
                      [class.selected]="item.isSelected"
                      (click)="handleSelect(item)">
                        <span [innerHTML]="item?.label"></span>
                        <span 
                            *ngIf="showDelete" 
                            (click)="onDeleteClick($event, item)"
                            class="delete-item">
                            <img src="/assets/images/trash-ico.svg" height="22" class="trash-icon" />
                        </span>
                  </div>
              </div>
      </div>
  </div>

    <div class="add-scale-trigger" [hidden]="!showAddNew" (click)="showScaleSettings()" title="Add new scale">
        <div class="add-scale-icon">+</div>
    </div>

</div>
